*{
  padding: 0px;
  margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  font-family: 'Lexend', sans-serif;

  
  --landing-bg:#050810;
  --landing-card:#131620;
  --btn-primary:linear-gradient(123.28deg, #306BFF 4.69%, #040E3A 289.88%);
  --text-primary:#FFFF;
  --text-secondary:#BFBFBF;

}
body {
  margin: 0px;
  padding: 0px;
}


a{
  text-decoration: inherit;
  color: inherit;
  
  :hover{
    cursor: pointer;
    text-decoration: inherit;
  }
}