.card-below:hover{
    cursor: pointer;
}

.mantine-1mm8q9x{
    background-color: rgba(19, 19, 19, 0.55);
    padding: 10px 0px;
    border-radius: 5px;
}

.creation-title{
color: rgb(134, 134, 134);
}

.mantine-16i2a4m:hover{
    background-color:  #292931;
    transition: 0.5s;
}