.home {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  background-color: wheat;

  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}
.img {
  width: fit-content;
  height: fit-content;
  border-radius: 2rem;
}
@media only screen and (max-width: 768px) {
  .img {
    width: 100%;
    max-height: none;
  }
  .home {
    width: 100vw;
    height: 100vh;
  }
}
.logoutBtn {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
