.footer-con{
  padding: 10px 0;
  margin-top: 5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #DCDCDC;
  z-index: 200;
}

.footer-con img{
  width: 30px;
  height: auto;
}

.footer-con p{
  font-family: PolySans Neutral;
  font-size: 15px;
}

.disc:hover {
  cursor: pointer;
}