.Landing {
  background-color: var(--landing-bg);
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  position:relative;
  overflow-x:hidden;

  #gradient {
    background: var(--btn-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-left{
    position:absolute;
    opacity:80%;
    top:-450px;
    left:-350px;
    transform: rotate(45deg);
  }
  .hero-right{
    position:absolute;
    top:-450px;
    right:-350px;
    opacity:90%;
  }
  .hero-mid{
    position:absolute;
    top:300px;
    right:-150px;
    opacity:60%;
  }
  

  .navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-content {
    max-width: 1200px;
    width: 100%;
    color: var(--text-primary);
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }

  img{
    cursor:pointer;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor:pointer;
  }

  .nav-btn {
    padding: 10px 24px;
    background: linear-gradient(123.28deg, #306BFF 4.69%, #040E3A 289.88%);
    color: 00px 0;
    color: var(--text-primary);
    border-radius: 5px;

    &:hover {
      box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.591);
      transition: 0.3s;
    }
  }

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .hero-content {
      max-width: 1200px;
      width: 100%;
      padding: 20px 0px;
      display: flex;
      gap: 70px;
      align-items: center;

      .title h1 {
        color: var(--text-primary);
        font-size: 128px;
        font-weight: 700;
        line-height: 100%;
      }

      .title {
        width: 564px;
      }

      .sub-title {
        color: var(--text-secondary);
        font-weight: 400;
        font-size: 20px;
      }
    }

  }

  .hero-graphics {
    margin-top: -80px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;

.codingimg{
  background: url("../../assets/images/coding.svg") repeat-x;
  height: 400px;
  width: 76800px;
  animation: slide 500s linear infinite;

  &:hover{
    background:url("../../assets/images/coding2.svg") repeat-x;
    transition: 0.2s;
  }
}
.nextimg{
  background: url("../../assets/images/next-gen.svg") repeat-x;
  height: 272px;
  width: 76800px;
  animation: slide 500s linear infinite;

  &:hover{
    background:url("../../assets/images/next-gen2.svg") repeat-x;
    transition: 0.2s;
  }
}
@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-76800px);
  }
}


    img {
      width: 100%;
    }

    img:nth-child(2) {
      margin: 0px auto;
      width: 50%;
      display: inline-block;
      margin-top: -280px;
      margin-bottom: -280px;
      transform: rotate(180deg);
    }

  }

  .intro {
    width: 100%;
    padding: 150px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    position: relative;

    .intro-content {
      max-width: 1200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .intro-right{
      position:absolute;
      top:-560px;
    }

    .intro-desc,
    .intro-graphics {
      max-width: 50%;
    }

    .intro-desc {
      .intro-title {
        font-weight: 600;
        font-size: 50px;
        padding-bottom: 25px;
      }

      .intro-sub-title {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: var(--text-secondary);
      }
    }

    .intro-graphic {
      text-align: center;
    }

    .intro-graphic img {
      display: inline-block;
      width: 80%;
    }
  }

  .playground {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    color: var(--text-primary);
    position: relative;

    .playground-left{
      position:absolute;
      top:100px;
      left:-150px;
      opacity:80%;
      transform:rotate(180deg); 
    }

    .playground-content {
      max-width: 1200px;
      width: 100%;
      display: flex;
      background-color: var(--landing-card);
      border-radius: 10px;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0px;
      background-image: url("../../assets/images/dotted_grid.svg");
      background-repeat: no-repeat;
      // position: relative;


      .playground-graphic {
        box-sizing: border-box;
        width: 60%;
        position: relative;

        img:nth-child(1) {
          width: 120%;
          margin-left: -200px;
          box-shadow: -21px 14px 15px 2px rgba(0, 0, 0, 0.25);
        }

        img:nth-child(2) {
          height: 400px;
          position: absolute;
          width: 100%;
          margin-top: 10%;
          margin-left: -60%;
          filter: drop-shadow(-17px 21px 21px rgba(0, 0, 0, 0.4));
        }

      }

      .playground-desc {
        box-sizing: border-box;
        width: 40%;
        padding: 40px;

        .playground-title {
          font-weight: 600;
          font-size: 50px;
        }

        .playground-sub-title {
          font-weight: 400;
          font-size: 18px;
          color: var(--text-secondary);
        }
      }

      // img {
      //   width: 900px;
      //   position: absolute;
      //   top: 69;
      //   z-index: 1;
      // }
    }
  }

  .features {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    color: var(--text-primary);

    
    .feature-content {
      max-width: 1200px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .feature-title {
        font-size: 50px;
        font-weight: 600;
        text-align: center;
      }

      .feature-sub-title {
        font-size: 20px;
        max-width: 800px;
        width: 100%;
        font-weight: 400;
        text-align: center;
        color: var(--text-secondary);
      }

      .card-con {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        gap: 10px;

        .card {
          width: 250px;
          padding: 20px;
          background-color: var(--landing-card);
          border-radius: 10px;
          min-height: 250px;


          .card-title {
            font-size: 22px;
            font-weight: 600;
            padding-top: 10px;
          }

          .card-sub-title {
            font-size: 18px;
            font-weight: 400;
            padding-top: 10px;
            color: var(--text-secondary);
          }

          &:hover {
            background-color: #191a24;
            transition: 0.5s;
          }
        }
      }
    }
  }

  .join {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 300px 0px;
    color: var(--text-primary);
    background-image: url("../../assets/images/dotted-circle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;
    position:relative;

    .join-mid{
      position:absolute;
      top:10px;
      left:510px;
      opacity:80%;
      transform:rotate(180deg); 
    }

    .join-content {
      max-width: 1200px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      

      img{
        width: 10%;
      }

      .join-title {
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        max-width: 600px;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .join-btn {
        font-size: 18px;
        text-align: center;
        width: 150px;
        height: 30px;
        padding: 10px 30px;
        background: linear-gradient(123.28deg, #306BFF 4.69%, #040E3A 289.88%);
        color: 00px 0;
        color: var(--text-primary);
        border-radius: 5px;
        box-shadow: 3px 2px 12px rgba(0, 132, 255, 0.351);
      }

    }
  }

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-content {
      max-width: 1200px;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}