.Editor-controls{
    width: 100%;
    background-color: var(--app-bg);
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    

    .control-btn{
        flex-grow: 1;
        min-width: 40px;
        max-height: 40px;
        padding: 10px 10px;
        background: linear-gradient(123.28deg, #306BFF 4.69%, #040E3A 289.88%);
        color: var(--text-primary);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
            transition: 0.3s;
            cursor: pointer;
        }
    }
    .func-btn{
        cursor: pointer;
        background-color: #25262b;
        padding: 6px 8px;
        border-radius: 5px;
    }
    .language-con{
       flex-grow: 1;
       width: 200px;
    }

    .modal-inp{
            background: #25262b;
            outline: none;
            border: none;
            border-radius: 6px;
            padding: 0 10px;
    }
    

}