.Pricing {
  background-color: var(--landing-bg);
  width: 100%;
  min-height: 100vh;
  padding: 0px 10px;
  box-sizing: border-box;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;

  .login-center{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    top: -100px;
  }
  
  .login-left{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .login-right{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  #gradient {
    background: var(--btn-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-content {
    max-width: 1200px;
    width: 100%;
    color: var(--text-primary);
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor:pointer;

    img{
      cursor:pointer;
    }
  }

  


  .nav-btn {
    padding: 10px 24px;
    background: linear-gradient(123.28deg, #306BFF 4.69%, #040E3A 289.88%);
    color: var(--text-primary);
    border-radius: 5px;

    &:hover {
      box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
      transition: 0.3s;
    }
  }

  .pricing-box-wrapper{
    width: 100%;
    z-index:5;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

}
      
    
  

